@mixin flex($direction, $justifyContent) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
  }

.project-list-container {
    @include flex(column, center);
    padding: 50px 0px 0px 0px;
    margin: auto;
    width: 50%;
    
    .selection-container {
        .hub-form{
            @include flex(row, center);

            .title {
                width: 20%;
            }
            .input-wrapper {
                @include flex(row, flex-start);
                width: 80%;
                text-align: left;

                .input-box {
                    padding: 0px 20px 0px 20px;
                    input {
                        width: 200px;
                    }
                }
              
            }
        }
    }

    .list-container {
        padding: 20px 0px 20px 0px;
    }
}