@mixin flex($direction, $justifyContent) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
  }

.read-me-container {
    @include flex(column, center);
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;

    .read-me-content {
        padding-top: 20px;
     
    }
}